.question-block {
    display: grid;

    grid-template-areas:
            "side . info"
            "side . text";
    grid-template-rows: 1.5rem auto;
    grid-template-columns: 4rem 1rem auto;

    padding: 1rem;

    width: 100%;
    height: 10rem;

    background: var(--div-bg);
    transition: background-color 300ms;

    --border: 1px solid var(--accent-color);
    border: var(--border);
    border-top: none;
}

.question-block:first-of-type {
    margin-top: 1rem;
    border-top: var(--border);
}

.question-block:hover {
    background: #fefef8;
}

.question-block:hover h3 {
    text-decoration: underline;
}

/* question and description block */
.text-container {
    grid-area: text;
}

.text-container .time {
    font-size: 9pt;
    font-weight: bold;

    color: var(--secondary-text);
}

.text-container.message {
    position: relative;

    overflow: hidden;
    height: 100%;
    max-height: 4.5em;
    margin: 0.5em 0;

    color: var(--tertiary-text);
}

/* container that contains vote buttons */
.side-container {
    display: flex;
    flex-direction: column;
    grid-area: side;

    justify-content: space-evenly;
    align-items: center;
}

.side-container span {
    text-align: center;
}

/* container that contains info */
.info-container {
    grid-area: info;
    display: flex;
    align-items: center;

    color: var(--secondary-text);
}

