.question-block {
    display: flex;
    align-content: space-between;

    margin: 1em 0;
    padding: 1em;

    width: 100%;
    height: 10rem;

    border: var(--container-border);
    border-radius: var(--container-border-radius);
    box-shadow: var(--container-shadow);
}

.question-block > * {
    display: flex;
    flex-direction: column;
}

/* vote and view count block */
.info-container {
    min-width: 100px;
    text-align: center;
    justify-content: space-evenly;
}

.info-container > p {
    font-size: 14pt;
    margin: 0.2em 0;
}

.info-container > p:nth-of-type(2) {
    margin-bottom: 0.8em;
}

.info-container > p:nth-of-type(2n) {
    font-size: 10pt;
    color: var(--secondary-text)
}

.voting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.voting-container__buttons {
    display: flex;
    justify-content: center;
}

.voting-container__buttons > button {
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    background-color: transparent;
    font-weight: bold;
}

/* question and description block */
.text-container .time {
    font-size: 9pt;
    font-weight: bold;

    color: var(--secondary-text);
}

.text-container.message {
    position: relative;

    overflow: hidden;
    height: 100%;
    max-height: 4.5em;
    margin: 0.5em 0;

    color: var(--tertiary-text);
}

.text-container.message:before {
    content: '';
    height: 2rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, white 95%);
}

/* container that contains vote buttons */
.side-container {
    justify-content: space-evenly;
    align-items: center;
}

.side-container span {
    text-align: center;
}


