.content {
    background: var(--div-bg);
    border: 1px solid var(--accent-color);
    padding: 1rem;
    paddin-bottom: 0;
    margin-bottom: -1px;
}

.content > .title {
    margin-bottom: 0.5em;
}

.content > .desc {
    color: var(--secondary-text);
}

.content img {
    width: 150px;
    height: auto;
}

.image-container {
    display: inline-block;

    margin-top: 1em;
    padding: 0.2rem 0.8rem;

    background: #f9f9f9;

    border-radius: 2px;
    border: 1px solid var(--accent-color);
}

.image-container h5 {
    color: var(--secondary-text);
    line-height: 1.4em;
    margin-bottom: 0.6em;
}

.image-container img {
    width: 10rem;
    height: 5rem;

    object-fit: cover;
}

.question-block {
    width: unset;
    margin: 0 calc(-1rem - 1px);
}

.answers {
    padding-top: 2rem;
}

/* "Answers" text */
.answers > h3 {
    margin-bottom: 0.5em;
}

/* container for each answer */
.answer-block {
    margin: 0.5rem 0;
    padding: 0.5rem;

    border: var(--container-border);
    border-radius: var(--container-border-radius);
    box-shadow: var(--container-shadow);
}

.answer-block span {
    display: block;
    margin-bottom: 0.4rem;
}

.answer-info > p {
    font-size: 9pt;
    font-weight: bold;
    color: var(--secondary-text)
}