@import "fonts.css";

:root {
    --primary-text: #222;
    --secondary-text: #999;
    --tertiary-text: #444;

    --container-border: 1px solid #dfdfdf;
    --container-border-radius: 2px;
    --container-shadow: 0 2px 4px #eee;

    --div-bg: #faffff;
    --accent-color: #dfdfdf;

    font-family: 'Roboto', sans-serif;
    color: var(--primary-text);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: radial-gradient(ellipse at center bottom, #fffbe8, #fff5f0, #f0ffff);
}

a {
    color: inherit;
    text-decoration: none;
}

a, p {
    font-weight: lighter;
}

input, select {
    border: 1px solid var(--accent-color);
    border-radius: 2px;
}

input[type="file"] {
    padding-top: 4px !important;
}

/* HEADER */
.outer-container {
    margin: 0 auto;
    max-width: 1200px;
}

header {
    padding: 1rem 0;

    background: var(--div-bg);
    border-bottom: 1px solid #ccc;

}

header h1 {
    outline: none;
}

header h1:hover {
    text-decoration: underline;
}

header .outer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input {
    height: 2rem;
    font-size: 1rem;
    padding: 0 0.5rem;
}

header input[type="text"] {
    width: 35rem;
    border: 1px solid #888;
    border-radius: 2px;
}

.content {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.content select:first-of-type {
    margin-left: 0.5rem;
}

.content select, .content input {
    height: 2rem;
    padding: 0 0.5rem;
}

.btn {
    font-size: 0.8rem;
    padding: 8px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
    border: 0.5px solid #999999;
    background-color: #f9f9f9;
    color: var(--primary-text);
}

.btn:hover {
    background-color: #e5e3e3;
}

.btnDelete {
    background: #ffc4c4;
    font-family: Arial;
    color: #ae4747;
    border: 0.5px solid #ae4747;

}

.btnEdit {
    background: #d4ffc4;
    font-family: Arial;
    color: #64984d;
        border: 0.5px solid #64984d;

}

.btnDelete:hover {
  background: #f7b4b4;
  text-decoration: none;
}

.btnEdit:hover {
  background: #c9efbc;
  text-decoration: none;
}

.btnUpdate {
    background: #a1d0f0;
    color: #0048ff;
    -webkit-border-radius: 15;
    -moz-border-radius: 15;

    color: #0081fd;

}

.btnUpdate:hover {
    background: #88c9f3;
    text-decoration: none;
}

/*add new something*/
.new {
    border: 1px solid var(--accent-color);
}

.new:hover {
    opacity: 1;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 10px;
}