:root {
    --primary-text: #222;
    --secondary-text: #777;
    --tertiary-text: #444;

    --container-border: 1px solid #dfdfdf;
    --container-border-radius: 2px;
    --container-shadow: 0 2px 4px #eee;

    font-family: sans-serif;
    color: var(--primary-text);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/* HEADER */
.outer-container {
    margin: 0 auto;
    max-width: 1200px;
}

header {
    padding: 1rem 0;

    background: #f7f7f7;
    border-bottom: 1px solid #ccc;

}

header h1 {
    outline: none;
}

header h1:hover {
    text-decoration: underline;
}

header .outer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .outer-container input {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

header .outer-container input[type="text"] {
    width: 35rem;
    border: 1px solid #888;
    border-radius: 2px;
}

.content {
    margin-top: 3rem;
}

.btn {
    font-size: 0.8rem;
    padding: 11px 20px;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 10px;
}

.btnDelete {
     background: #ffc4c4;
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    color: #ff0000;

}

.btnDelete:hover {
  background: #f7b4b4;
  text-decoration: none;
}

.btnUpdate {
    background: #a1d0f0;
    color: #0048ff;
    -webkit-border-radius: 15;
    -moz-border-radius: 15;

    color: #0081fd;

}

.btnUpdate:hover {
    background: #88c9f3;
    text-decoration: none;
}

/*add new something*/
.new {
    background: #f5e699;
    color: #000000;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0.5;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 4px;
    border-radius: 100%;
}

.new:hover {
    opacity: 1;
    background: #f1da8c;
}