{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='show_answers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_question.css') }}">
    <title>Add answer</title>
{% endblock %}

{% block content %}
    <h1 class="title">Add answer</h1>
    <form method="post">
        <textarea class="input" name="input_message" type="text" placeholder="Write answer"></textarea>
        <button class="btn" type="submit">SUBMIT</button>
    </form>
{% endblock %}