{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_question.css') }}">
    <title>Edit {{ edit_type }}</title>
{% endblock %}

{% block content %}
    <h1 class="title">Edit {{ edit_type }}</h1>
    <form method="post">
        {% if edit_type == "question" %}
            <label for="input_title">Title</label>
            <input class="input title" name="input_title" type="text" placeholder="Title here" value="{{ result['title'] }}">
        {% endif %}
        <label for="input_message">Message</label>
        <textarea class="input" name="input_message" type="text" placeholder="Message here">{{ result['message'] }}</textarea>
        <button class="btn" type="submit">SAVE EDITS</button>
    </form>
{% endblock %}