<header>
    <div class="outer-container">
        <span class="title-text">
            <a href="/"><h1>THERMOSDIAS</h1></a>
            <h3>(Press Control Shift + R)</h3>
        </span>
        <span class="search-bar">
            <form action="" name="search">
                <input type="text" name="search" placeholder="Search...">
                <input type="submit" value="Go!">
            </form>
        </span>
        <span>
            <a href="">Ask a question!</a>
        </span>
    </div>
</header>