<header>
    <nav>
        <div class="outer-container">
        <span class="title-text">
            <a href="/"><h1><i class="fas fa-laptop-code"></i> CodeOverflow</h1></a>
            <h3>(Press Ctrl + Shift + R)</h3>
        </span>
            <span class="search-bar">
            <form action="/search" name="search">
                <input type="text" name="search" placeholder="Search...">
                <input type="submit" value="GO!" class="btn">
            </form>
        </span>
            <div class="user-info">
                {% if current_user.is_authenticated %}
                    <span><a href="{{ url_for('current_user_data') }}"><i class="fas fa-user-circle"></i>{{ current_user.username.title() }}</a></span>
                    <br>
                    <span><a href="{{ url_for('logout') }}">Logout</a></span>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>