{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='list_questions.css') }}">
{% endblock %}

{% block content %}
    <div class="top-bar">
        <div>
            <div>
                <select class="sort-select" name="sort">
                    <option disabled selected value>Sort by</option>
                    <option value="submission_time">Upload time</option>
                    <option value="view_number">Views</option>
                    <option value="vote_number">Votes</option>
                </select>
                <select class="sort-select" name="order">
                    <option disabled selected value>Order by</option>
                    <option value="desc">Descending</option>
                    <option value="asc">Ascending</option>
                </select>
                <input id="sort-button" type="button" value="SORT" class="btn">
            </div>

            <div class="tag-list">
                <span>Filter by tag:</span>
                {% for tag in tags %}
                    <button class="text-container tag {{ tag['name'] }}">{{ tag['name'] }}</button>
                {% endfor %}
            </div>
        </div>

        <a class="btn new" href='/add-question'><i class="fas fa-plus"></i> ASK QUESTION</a>
    </div>

{% for question in questions %}
    <div class="question-block">
        <span class="side-container">
            <a href="/question/{{ question.id }}/vote_up"><i class="fas fa-thumbs-up"></i></a>
            <span>
                <h5>{{ question.vote_number }}</h5>
                <h6>votes</h6>
            </span>
            <a href="/question/{{ question.id }}/vote_down"><i class="fas fa-thumbs-down"></i></a>
        </span>
        <span class="info-container">
            <span>
                <h6>{{ question.view_number }} views</h6>
                <h6 style="font-weight: bold;">·</h6>
                <h6>{{ question.submission_time }}</h6>
            </span>
            <span>
                <a href="/question/{{ question.id }}/edit" class="action-container--button btn btnEdit"><i class="fas fa-pencil-alt"></i></a>
                <a href="/question/{{ question.id }}/delete" class="action-container--button btn btnDelete"><i class="far fa-trash-alt"></i></a>
            </span>
        </span>
        <a class="text-container" href="/question/{{ question['id'] }}">
            <h3 class="text-container title">
                {{ question.title }}
            </h3>
            {% for tag in question.tags %}
                <span class="text-container tag {{ tag }}">{{ tag }}</span>
            {% endfor %}
            <p class="text-container message">
                {{ question.message }}
            </p>
        </a>
    </div>
{% endfor %}
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}