{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='list_questions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='show_answers.css') }}">
    <title>{{ question['title'] }}</title>
{% endblock %}

{% block content %}
    <div class="top-question">
        <h1 class="title">{{ question.title }}</h1>
        <p class="desc">{{ question.message }}</p>
    </div>

    {% if question.image %}
        <span class="image-container">
            <h5>Attached images (click for full size):</h5>
            <a href="../{{ question.image }}" target="_blank"><img src="../{{ question.image }}" alt="Image attachment"></a>
        </span>
    {% endif %}

    <div class="answers">
        <h3>Answers:</h3>
        {% if not answers %}<p>No answers yet!</p>{% endif %}
        {% for answer in answers %}
            <div class="question-block">
                <span class="side-container">
                    <a href="/answer/{{ answer.id }}/vote_up">👍</a>
                    <span>
                        <h5>{{ answer.vote_number }}</h5>
                        <h6>votes</h6>
                    </span>
                    <a href="/answer/{{ answer.id }}/vote_down">👎</a>
                </span>
                <span class="info-container">
                    <h6>{{ answer.submission_time }}</h6>
                </span>
                <span class="text-container">
                    <p class="text-container message">
                        {{ answer.message }}
                    </p>
                </span>
                {#<span class="answer-info" >
                    <span class="voting-container">
                        <span class="voting-container__buttons">
                            <button><a href="/answer/{{ answer['id'] }}/{{ True }}">👍🏻</a></button>
                            <p>{{ answer['vote_number'] }}</p>
                            <button><a href="/answer/{{ answer['id'] }}/{{ False }}">👎🏻</a></button>
                        </span>
                    </span>
                </span>
                <p>votes</p>
                <span class="">
                    <p>{{ answer['message'] }}</p>
                </span>
                <form action="/answer/{{ answer['id'] }}/delete" method="post">
                    <button type="submit">Delete</button>
                </form>#}
            </div>
        {% endfor %}
    </div>
    <body>
    {#<a href='/answer/{{ question['id'] }}/new-answer'>#}
         <a class="btn new" href='/question/{{ question['id'] }}/new-answer'><i class="fas fa-comment-dots fa-3x"></i></a>
    {#<a href='/'>
        <input type="button" value="BACK">
    </a>#}

    </body>

{% endblock %}