{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='list_questions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='show_answers.css') }}">
    <title>{{ question['title'] }}</title>
{% endblock %}

{% block content %}
    <div class="top-bar">
        <a href='/'><input type="button" class="btn" value="BACK"></a>
        <a class="btn new" href='/question/{{ question['id'] }}/new-answer'><i class="far fa-comments"></i> ADD ANSWER</a>
    </div>
    <div class="question-block question-block--top">
        <h1 class="title">{{ question.title }}</h1>
        <p class="desc">{{ question.message }}</p>
    </div>

    {% if question.image %}
        <span class="image-container">
            <h5>Attached images (click for full size):</h5>
            <a href="{{ url_for('static', filename=question.image) }}" target="_blank"><img src="{{ url_for('static', filename=question.image) }}" alt="Image attachment"></a>
        </span>
    {% endif %}

    <div class="answers">
        <h3>Answers:</h3>
        {% if not answers %}<p>No answers yet!</p>{% endif %}
        {% for answer in answers %}
            <div class="question-block">
                <span class="side-container">
                    <a href="/answer/{{ answer.id }}/vote_up"><i class="fas fa-thumbs-up"></i></a>
                    <span>
                        <h5>{{ answer.vote_number }}</h5>
                        <h6>votes</h6>
                    </span>
                    <a href="/answer/{{ answer.id }}/vote_down"><i class="fas fa-thumbs-down"></i></a>
                    {% if question.accepted == answer.id %}
                        <h6>Accepted</h6>
                    {% else %}
                        <a href="/answer/{{ answer.id }}/accept"><i class="fas fa-check"></i></a>
                    {% endif %}
                </span>
                <span class="info-container">
                    <span>
                        <h6>{{ answer.submission_time }}</h6>
                    </span>
                    <span>
                        <a href="/answer/{{ answer.id }}/edit" class="action-container--button btn btnEdit"><i class="fas fa-pencil-alt"></i></a>
                        <a href="/answer/{{ answer.id }}/delete" class="action-container--button btn btnDelete"><i class="far fa-trash-alt"></i></a>
                    </span>
                </span>
                <span class="text-container">
                    <p class="text-container message">
                        {{ answer.message }}
                    </p>
                </span>

            </div>
        {% endfor %}
    </div>

{% endblock %}